<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App 594</title>
  </head>
  <body>
    <div id="fb-root"></div>

<p>appId: <%= appId %></p>
<p>uid: <%= user.uid %></p>
<p>secret: <%= user.secret %></p>
<p>expires: <%= user.expires %></p>
<p>number: <%= user.number %></p>

    <div id="updating-view" style="display: none">
      <div>Updating...</div>
    </div>
    
    <div id="error-view" style="display: none">
      <div id="error">Error</div>
    </div>
    
    <div id="game-view" style="display: none">
      <div id="number"></div>
      <button id="increment-btn">Increment</button>
      <button id="save-btn" style="display: none">Save</button>
    </div>
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script>
    </script>

  </body>
</html>
